name: Build and Push Multi-Platform Image

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Dockerhub Container Registry
        uses: docker/login-action@v3
        with:          
          username: khalkie
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image (multi-platform)
        id: push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: index.docker.io/${{ github.repository }}:v1-dockerhub
          # platforms: linux/amd64,linux/arm64
          provenance: false      
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: index.docker.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
